# Feature Engineering

## Data Scaling

In [ ]:
mms = MinMaxScaler() # Normalization
ss = StandardScaler() # Standardization

encoded_df['tenure'] = mms.fit_transform(encoded_df[['tenure']])
encoded_df['MonthlyCharges'] = mms.fit_transform(encoded_df[['MonthlyCharges']])
encoded_df['TotalCharges'] = mms.fit_transform(encoded_df[['TotalCharges']])
encoded_df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,customerID
0,0,0,1,0,0.013889,0,1,0,0,2,0,0,0,0,0,1,2,0.115423,0.003437,0,7590-VHVEG
1,1,0,0,0,0.472222,1,0,0,2,0,2,0,0,0,1,0,3,0.385075,0.217564,0,5575-GNVDE
2,1,0,0,0,0.027778,1,0,0,2,2,0,0,0,0,0,1,3,0.354229,0.012453,1,3668-QPYBK
3,1,0,0,0,0.625000,0,1,0,2,0,2,2,0,0,1,0,0,0.239303,0.211951,0,7795-CFOCW
4,0,0,0,0,0.027778,1,0,1,0,0,0,0,0,0,0,1,2,0.521891,0.017462,1,9237-HQITU

## Data Balancing

 The dataset exhibits class imbalance, which can negatively impact model performance. Two common strategies are used to address this issue:

 Undersampling: Reducing the number of samples from the majority class.

 Oversampling: Increasing the number of samples in the minority class to match the majority class.

 After evaluating both approaches, oversampling was selected to preserve information from the majority class while improving minority class representation.

 To perform data balancing, the SMOTE (Synthetic Minority Over-sampling Technique) algorithm from the imbalanced-learn library is chosen to address class imbalance by synthetically generating minority-class samples without discarding existing data.

In [ ]:
X = encoded_df.drop(columns=['Churn', 'customerID'])   # features
y = encoded_df['Churn']                  # target
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

smote = SMOTE(random_state=42)

X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)

print("Before SMOTE:")
print(y_train.value_counts())

print("\nAfter SMOTE:")
print(y_train_smote.value_counts())

Before SMOTE:
Churn
0    4139
1    1495
Name: count, dtype: int64

After SMOTE:
Churn
0    4139
1    4139
Name: count, dtype: int64